/*
 * Remove number input spinners
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
 padding-top: 50px;
}

/*
 * Global add-ons
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
 .x-ng-cloak {
 display: none !important;
}

.sub-header {
 padding-bottom: 10px;
 border-bottom: 1px solid #eee;
}

.input-group-addon {
 min-width: 80px;
 text-align: left;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
 border: 0;
}
.navbar.center .navbar-collapse {
    text-align: center;
}

.navbar.center .navbar-collapse .nav {
    display:inline-block;
    float: none;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
 display: none;
}

@media ( min-width : 768px) {
 .sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
 }
}

/* 
 * Sidebar navigation 
 */
.nav-sidebar {
 margin-right: -21px; /* 20px padding + 1px border */
 margin-bottom: 20px;
 margin-left: -20px;
}

.nav-sidebar>li>a {
 padding-right: 20px;
 padding-left: 20px;
}

.nav-sidebar>.nav-section>a, .nav-sidebar>.nav-section>a:hover,
 .nav-sidebar>.nav-section>a:focus {
 font-weight: bold;
 font-size: larger;
 color: #2e6da4;
 background-color: #d9edf7;
}

.nav-sidebar>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus
 {
 background-color: #fcf8e3;
}

.nav-sidebar>.nav-section.active>a, .nav-sidebar>.nav-section.active>a:hover,
 .nav-sidebar>.nav-section.active>a:focus {
 color: #fff;
 background-color: #428bca;
}

.nav-sidebar>.nav-section {font
 
}

/*
 * Main content
 */
.main {
 padding: 20px;
}

@media ( min-width : 768px) {
 .main {
  padding-right: 40px;
  padding-left: 40px;
 }
}

.main .page-header {
 margin-top: 0;
}

.content {
 margin-top: 60px;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
 margin-bottom: 30px;
 text-align: center;
}

.placeholders h4 {
 margin-bottom: 0;
}

.placeholder {
 margin-bottom: 20px;
}

.placeholder img {
 display: inline-block;
 border-radius: 50%;
}

/*
 * Login form placement
 */
.login-center {
 min-height: 60%; /* Fallback for browsers do NOT support vh unit */
 min-height: 60vh; /* These two lines are counted as one :-)       */
 display: flex;
 align-items: center;
}

.form-signin {
 max-width: 330px;
 padding: 15px;
 margin: 0 auto;
}

/*
 * Toggle switch
 */
.cmn-toggle {
 position: absolute;
 margin-left: -9999px;
 visibility: hidden;
}

.cmn-toggle+label {
 display: block;
 position: relative;
 margin-bottom: 0px;
 margin-left: auto;
 margin-right: auto;
 cursor: pointer;
 outline: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.cmn-toggle.disabled+label,
  .cmn-toggle[disabled]+label {
 cursor: not-allowed;
}

input.cmn-toggle-round-flat+label {
 padding: 2px;
 width: 40px;
 height: 20px;
 background-color: #dddddd;
 border-radius: 20px;
 transition: background 0.4s;
}

input.cmn-toggle-off-blue+label {
 background-color: #729fcf;
}

input.cmn-toggle-round-flat+label:before, input.cmn-toggle-round-flat+label:after
 {
 display: block;
 position: absolute;
 content: "";
}

input.cmn-toggle-round-flat+label:before {
 top: 2px;
 left: 2px;
 bottom: 2px;
 right: 2px;
 background-color: #fff;
 border-radius: 40px;
 transition: background 0.4s;
}
input.cmn-toggle-round-flat.ng-disabled+label:before {
 background-color: #f8f8f8;
}

input.cmn-toggle-round-flat+label:after {
 top: 4px;
 left: 4px;
 bottom: 4px;
 width: 12px;
 background-color: #dddddd;
 border-radius: 16px;
 transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-off-blue+label:after {
 background-color: #729fcf;
}

input.cmn-toggle-round-flat:checked+label {
 background-color: #8ce196;
}

input.cmn-toggle-round-flat:checked+label:after {
 margin-left: 20px;
 background-color: #8ce196;
}