<div class="page-header">
  <h1>Output &amp; Relays</h1>
</div>

<div class="col">

 <form name="form" id="form" role="form" ng-submit="save()">

  <div class="table-responsive" style="margin-top: 30px;">
   <table class="table table-striped" style="border-bottom: 2px solid #ddd;">
    <thead>
     <tr>
      <th class="text-center" style="width: 4%;">#</th>
      <th>Relay</th>
      <th class="text-center col-xs-4" style="padding-left: 13%;">ON/OFF Text</th>
      <th style="width: 1%;">&nbsp;</th>
      <th class="text-center col-xs-2">GPIO #</th>
      <th class="text-center col-xs-2">State</th>
     </tr>
    </thead>
    <tbody>
     <tr ng-repeat="relay in relays">
      <td class="text-center"><div style="padding-top: 5px;">{{::$index + 1}}</div></td>
      <td>
       <div class="form-group"
        ng-class="{ 'has-error': form['rl_txt_name_'+$index].$dirty && form['rl_txt_name_'+$index].$invalid }">
        <input ng-model="relay.name" ng-maxlength="32"
         name="rl_txt_name_{{$index}}" id="rl_txt_name_{{$index}}" type="text"
         class="form-control input-sm" ng-required="true">
       </div>
      </td>
      <td>
       <table class="table"
        style="background: transparent; margin-bottom: 0px;">
        <tbody>
         <tr>
          <td class="text-right"
           style="font-weight: bold; border: 0; padding-bottom: 0; padding-top: 5px;">ON:
          </td>
          <td class="col-xs-7" style="border: 0; padding-bottom: 4px; padding-top: 0;">
           <div class="form-group" style="margin-bottom: 0;"
            ng-class="{ 'has-error': form['rl_txt_on_'+$index].$dirty && form['rl_txt_on_'+$index].$invalid }">
            <input ng-model="relay.txt_on" ng-maxlength="12"
             name="rl_txt_on_{{$index}}" id="rl_txt_on_{{$index}}" type="text"
             class="form-control input-sm" ng-required="true">
           </div>
          </td>
         </tr>
         <tr>
          <td class="text-right"
           style="font-weight: bold; border: 0; padding-bottom: 0; padding-top: 5px;">OFF:
          </td>
          <td style="border: 0; padding-bottom: 0; padding-top: 0;">
           <div class="form-group" style="margin-bottom: 0;"
            ng-class="{ 'has-error': form['rl_txt_off_'+$index].$dirty && form['rl_txt_off_'+$index].$invalid }">
            <input ng-model="relay.txt_off" ng-maxlength="12"
             name="rl_txt_off_{{$index}}" id="rl_txt_off_{{$index}}"
             type="text" class="form-control input-sm" ng-required="true">
           </div>
          </td>
         </tr>
        </tbody>
       </table>
      </td>
      <td style="border-right: solid 1px #ddd;">&nbsp;</td>
      <td class="text-center" style="font-weight: bold;"><div
        style="padding-top: 5px;">{{::relay.id}}</div></td>
      <td>
       <div class="form-group" style="margin-bottom: 0;"
         ng-class="{ 'has-error': form['rl_state_'+$index].$invalid }">
         <select ng-model="relay.state"
          class="form-control input-sm" name="rl_state_{{$index}}"
          id="rl_state_{{$index}}" ng-required="true">
          <option value="1">ON</option>
          <option value="0">OFF</option>
         </select>
        </div>
      </td>
     </tr>
    </tbody>
   </table>
  </div>
  
  <div class="table-responsive" style="margin-top: 30px;">
   <table class="table table-striped" style="border-bottom: 2px solid #ddd;">
    <thead>
     <tr>
      <th class="text-center" style="width: 4%;">#</th>
      <th>Output</th>
      <th class="text-center col-xs-4" style="padding-left: 13%;">ON/OFF Text</th>
      <th style="width: 1%;">&nbsp;</th>
      <th class="text-center col-xs-2">GPIO #</th>
      <th class="text-center col-xs-2">State</th>
     </tr>
    </thead>
    <tbody>
     <tr ng-repeat="output in outputs">
      <td class="text-center"><div style="padding-top: 5px;">{{::$index + 1}}</div></td>
      <td>
       <div class="form-group"
        ng-class="{ 'has-error': form['out_txt_name_'+$index].$dirty && form['out_txt_name_'+$index].$invalid }">
        <input ng-model="output.name" maxlength="32"
         name="out_txt_name_{{$index}}" id="out_txt_name_{{$index}}" type="text"
         class="form-control input-sm" ng-required="true">
       </div>
      </td>
      <td>
       <table class="table"
        style="background: transparent; margin-bottom: 0px;">
        <tbody>
         <tr>
          <td class="text-right"
           style="font-weight: bold; border: 0; padding-bottom: 0; padding-top: 5px;">ON:
          </td>
          <td class="col-xs-7" style="border: 0; padding-bottom: 4px; padding-top: 0;">
           <div class="form-group" style="margin-bottom: 0;"
            ng-class="{ 'has-error': form['out_txt_on_'+$index].$dirty && form['out_txt_on_'+$index].$invalid }">
            <input ng-model="output.txt_on" maxlength="12"
             name="out_txt_on_{{$index}}" id="out_txt_on_{{$index}}" type="text"
             class="form-control input-sm" ng-required="true">
           </div>
          </td>
         </tr>
         <tr>
          <td class="text-right"
           style="font-weight: bold; border: 0; padding-bottom: 0; padding-top: 5px;">OFF:
          </td>
          <td style="border: 0; padding-bottom: 0; padding-top: 0;">
           <div class="form-group" style="margin-bottom: 0;"
            ng-class="{ 'has-error': form['out_txt_off_'+$index].$dirty && form['out_txt_off_'+$index].$invalid }">
            <input ng-model="output.txt_off" maxlength="12"
             name="out_txt_off_{{$index}}" id="out_txt_off_{{$index}}"
             type="text" class="form-control input-sm" ng-required="true">
           </div>
          </td>
         </tr>
        </tbody>
       </table>
      </td>
      <td style="border-right: solid 1px #ddd;">&nbsp;</td>
      <td class="text-center" style="font-weight: bold;"><div
        style="padding-top: 5px;">{{::output.id}}</div></td>
      <td>
       <div class="form-group" style="margin-bottom: 0;"
         ng-class="{ 'has-error': form['out_state_'+$index].$invalid }">
         <select ng-model="output.state"
          class="form-control input-sm" name="out_state_{{$index}}"
          id="out_state_{{$index}}" ng-required="true">
          <option value="1">ON</option>
          <option value="0">OFF</option>
         </select>
        </div>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <div ng-show="error" class="alert alert-danger text-center">{{error}}</div>
  <div ng-show="warning" class="alert alert-warning text-center">{{warning}}</div>
  <div ng-show="message" class="alert alert-success text-center">{{message}}</div>    
  
  <div class="form-actions text-center" style="margin-top: 20px;">
   <button type="submit" ng-disabled="form.$invalid || dataLoading"
    class="btn btn-lg btn-primary" tabindex="2" style="width: 140px;">
    <img ng-if="dataLoading"
     src="/img/loader.gif" />
    Apply
   </button>
  </div>
 </form>
</div>
