<div class="page-header">
  <h1>Analog Inputs</h1>
</div>

<div class="col">

 <form name="form" id="form" role="form" ng-submit="save()">

  <div class="table-responsive" style="margin-top: 30px;">
   <table class="table table-striped" style="border-bottom: 2px solid #ddd;">
    <thead>
     <tr>
      <th class="text-center" style="width: 4%;">#</th>
      <th>Sensor</th>
      <th class="text-center col-xs-2">100% Level (V)</th>
      <th style="width: 1%;">&nbsp;</th>
      <th class="text-center col-xs-2">Max (V)</th>
     </tr>
    </thead>
    <tbody>
     <tr ng-repeat="analog in analogs">
      <td class="text-center"><div style="padding-top: 5px;">{{::$index + 1}}</div></td>
      <td>
       <div class="form-group"
        ng-class="{ 'has-error': form['txt_name_'+$index].$dirty && form['txt_name_'+$index].$invalid }">
        <input ng-model="analog.name" ng-maxlength="32"
         name="txt_name_{{$index}}" id="txt_name_{{$index}}" type="text"
         class="form-control input-sm" ng-required="true">
       </div>
      </td>
      <td>
       <div class="form-group" style="margin-bottom: 0;"
         ng-class="{ 'has-error': form['limit_'+$index].$dirty && form['limit_'+$index].$invalid }">
         <input ng-model="analog.limit"
          name="limit_{{$index}}" id="limit_{{$index}}" type="number" step="0.01" ng-min="0" ng-max="{{:: analog.vref}}"
          class="form-control input-sm" ng-required="true">
        </div>
      </td>
      <td style="border-right: solid 1px #ddd;">&nbsp;</td>
      <td class="text-center" style="font-weight: bold;"><div
        style="padding-top: 5px;">{{:: analog.vref | number : 1 }}</div></td>
     </tr>
    </tbody>
   </table>
  </div>
  
  <div ng-show="error" class="alert alert-danger text-center">{{error}}</div>
  <div ng-show="warning" class="alert alert-warning text-center">{{warning}}</div>
  <div ng-show="message" class="alert alert-success text-center">{{message}}</div>    
  
  <div class="form-actions text-center" style="margin-top: 20px;">
   <button type="submit" ng-disabled="form.$invalid || dataLoading"
    class="btn btn-lg btn-primary" tabindex="2" style="width: 140px;">
    <img ng-if="dataLoading"
     src="/img/loader.gif" />
    Apply
   </button>
  </div>
 </form>
</div>
