<div class="page-header">
  <h1 class="pull-left">USB Devices</h1>
  <div class="pull-right">
    <div class="switch"
         style="bottom: 15px; position: relative; top: 25px;"
         title="Turns USB ON/OFF">
      <input id="toggle-usb" class="cmn-toggle cmn-toggle-round-flat"
             type="checkbox" ng-model="usb.enabled" ng-disabled="dataLoading"
             ng-change="usbEnable({ val: usb.enabled })">
      <label for="toggle-usb"></label>
      <img ng-if="dataLoading" style="    position: absolute; right: -12px; top: 2px;"
           src="/img/loader.gif" />
      <span>OFF / ON</span>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="row">
  <div>
    <hr />
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" style="width: 10%;">Bus</th>
            <th class="text-center" style="width: 10%;">Device</th>
            <th class="text-center" style="width: 20%;">ID</th>
            <th class="text-center">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr style="min-height: 100px;" ng-if="dataLoading" ng-cloak>
            <td class="text-center" colspan="4">
              <img src="/img/loader.gif" />
            </td>
          </tr>
          <tr ng-repeat="dev in usb.devices | orderBy:['bus','device']" style="{{:: dev.name.toLowerCase().endsWith('hub') ? 'color: #9D9D9D;' : 'font-weight: bold;'}}">
            <td class="text-center">{{:: dev.bus }}</td>
            <td class="text-center">{{:: dev.device }}</td>
            <td class="text-center">{{:: dev.id }}</td>
            <td>{{:: dev.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="margin-top: 20px;">
    <div ng-show="error" class="alert alert-danger text-center">{{error}}</div>
    <div ng-show="warning" class="alert alert-warning text-center">{{warning}}</div>
    <div ng-show="message" class="alert alert-success text-center">{{message}}</div>
  </div>
</div>

<!-- //////////////////////////////////////////////////////////////////////////////////
     //
     // Added by Robert Phillips (Avanca) on Oct 20, 2016
     //
-->
<hr ng-if="usb.enabled && usb.showIds" ng-cloak />
<div class="col-sm-8 col-sm-offset-2" ng-if="usb.enabled && usb.showIds" ng-cloak>
  <form name="form" id="form" role="form" class="form-horizontal"
        ng-submit="save()">
    <div class="form-group">
      <label class="col-sm-3 control-label">&nbsp;</label>
      <div class="col-sm-8 text-center" style="font-weight: bold;">
        Authorized Devices:
      </div>
    </div>

    <div ng-repeat="id in usb.id track by $index">
      <div class="form-group"
           ng-class="{ 'has-error': form['id'+$index].$dirty && form['id'+$index].$invalid }">
        <label for="id{{::$index}}" class="col-sm-3 control-label">{{::$index + 1}}</label>
        <div class="col-sm-8">
          <input ng-model="usb.id[$index]" type="text"
                 class="form-control" name="id{{::$index}}" id="id{{::$index}}">
        </div>
      </div>
    </div>

    <div class="form-actions text-center" style="margin-left: 20%; margin-top: 30px;">
      <button type="submit" ng-disabled="form.$invalid || dataLoading"
              class="btn btn-lg btn-primary" tabindex="2" style="width: 140px;">
        <img ng-if="dataLoading" src="/img/loader.gif" />
        Apply
      </button>
    </div>

  </form>
</div>
<!-- //
     //////////////////////////////////////////////////////////////////////////////////
-->
