<div class="page-header">
  <h1>Digital Inputs</h1>
</div>

<div class="col">

 <form name="form" id="form" role="form" ng-submit="save()">

  <div class="table-responsive">
   <table class="table table-striped" style="border-bottom: 2px solid #ddd;">
    <thead>
     <tr>
      <th class="text-center">#</th>
      <th>Location</th>
      <th class="text-center col-xs-3">ON/OFF Text</th>
      <th>&nbsp;</th>
      <th class="text-center">GPIO #</th>
      <th class="text-center">GPIO Setup</th>
     </tr>
    </thead>
    <tbody>
     <tr ng-repeat="input in inputs">
      <td class="text-center"><div style="padding-top: 5px;">{{::$index
        + 1}}</div></td>
      <td>
       <div class="form-group"
        ng-class="{ 'has-error': form['txt_name_'+$index].$dirty && form['txt_name_'+$index].$invalid }">
        <input ng-model="input.name" ng-maxlength="32"
         name="txt_name_{{$index}}" id="txt_name_{{$index}}" type="text"
         class="form-control input-sm" ng-required="true">
       </div>
      </td>
      <td>
       <table class="table"
        style="background: transparent; margin-bottom: 0px;">
        <tbody>
         <tr>
          <td class="text-right"
           style="font-weight: bold; border: 0; padding-bottom: 0; padding-top: 5px;">ON:
          </td>
          <td style="border: 0; padding-bottom: 4px; padding-top: 0;">
           <div class="form-group" style="margin-bottom: 0;"
            ng-class="{ 'has-error': form['txt_on_'+$index].$dirty && form['txt_on_'+$index].$invalid }">
            <input ng-model="input.txt_on" ng-maxlength="12"
             name="txt_on_{{$index}}" id="txt_on_{{$index}}" type="text"
             class="form-control input-sm" ng-required="true">
           </div>
          </td>
         </tr>
         <tr>
          <td class="text-right"
           style="font-weight: bold; border: 0; padding-bottom: 0; padding-top: 5px;">OFF:
          </td>
          <td style="border: 0; padding-bottom: 0; padding-top: 0;">
           <div class="form-group" style="margin-bottom: 0;"
            ng-class="{ 'has-error': form['txt_off_'+$index].$dirty && form['txt_off_'+$index].$invalid }">
            <input ng-model="input.txt_off" ng-maxlength="12"
             name="txt_off_{{$index}}" id="txt_off_{{$index}}"
             type="text" class="form-control input-sm" ng-required="true">
           </div>
          </td>
         </tr>
        </tbody>
       </table>
      </td>
      <td style="border-right: solid 1px #ddd;">&nbsp;</td>
      <td class="text-center" style="font-weight: bold;"><div
        style="padding-top: 5px;">{{::input.id}}</div></td>
      <td>
       <table class="table"
        style="background: transparent; margin-bottom: 0px;">
        <tbody>
         <tr>
          <td class="text-right"
           style="font-weight: bold; border: 0; padding-bottom: 0; padding-top: 5px;">Active
           on:</td>
          <td style="border: 0; padding-bottom: 4px; padding-top: 0;">
           <div class="form-group" style="margin-bottom: 0;"
            ng-class="{ 'has-error': form['active_'+$index].$invalid }">
            <select ng-model="input.active"
             class="form-control input-sm" name="active_{{$index}}"
             id="active_{{$index}}" ng-required="true">
             <option value="HIGH">High</option>
             <option value="LOW">Low</option>
            </select>
          </td>
         </tr>
         <tr>
          <td class="text-right"
           style="font-weight: bold; border: 0; padding-bottom: 0; padding-top: 5px;">Pullup:
          </td>
          <td style="border: 0; padding-bottom: 0; padding-top: 0;">
           <div class="form-group" style="margin-bottom: 0;"
            ng-class="{ 'has-error': form['pullup_'+$index].$invalid }">
            <select ng-model="input.pullup"
             class="form-control input-sm" name="pullup_{{$index}}"
             id="pullup_{{$index}}" ng-required="true">
             <option value="ON">Enabled</option>
             <option value="OFF">Disabled</option>
            </select>
           </div>
          </td>
         </tr>
        </tbody>
       </table>
      </td>
     </tr>
    </tbody>
   </table>
  </div>
	
  <div class="form-group col-sm-6 col-sm-offset-6"
   ng-class="{ 'has-error': form['debounce_delay'].$dirty && form['debounce_delay'].$invalid }">
   <label for="debounce_delay" class="col-sm-6 control-label" style="margin-top: 1.2%;">Debouncing Delay</label>
   <div class="input-group col-sm-5">
      <input ng-model="debounce_delay" type="number" ng-min="0" ng-max="60"
       class="form-control" name="debounce_delay" id="debounce_delay"
       ng-required="true" aria-describedby="debounce_delay_addon">
      <span class="input-group-addon" id="debounce_delay_addon">Sec</span>
     </div>
   </div>
  
  <div class="clearfix"></div>

  <div ng-show="error" class="alert alert-danger text-center">{{error}}</div>
  <div ng-show="warning" class="alert alert-warning text-center">{{warning}}</div>
  <div ng-show="message" class="alert alert-success text-center">{{message}}</div>  
  
  <div class="form-actions text-center"  style="margin-top: 20px;">
   <button type="submit" ng-disabled="form.$invalid || dataLoading"
    class="btn btn-lg btn-primary" tabindex="2" style="width: 140px;">
    <img ng-if="dataLoading"
     src="/img/loader.gif" />
    Apply
   </button>
  </div>
 </form>
</div>
