<div class="page-header">
 <h1 class="pull-left" ng-cloak>
  <span ng-if="$root.appName">{{:: $root.appName }}</span>
 </h1>
 <div class="pull-right">
  <div class="switch"
   style="bottom: 15px; position: relative; top: 25px;"
   title="Auto-refresh every 2 sec: ON/OFF">
   <input id="toggle-refresh" class="cmn-toggle cmn-toggle-round-flat"
    type="checkbox" ng-model="refresh"
    ng-change="refreshChanged({val: refresh})"> <label
    for="toggle-refresh"></label> <span>Auto-refresh</span>
  </div>
 </div>
 <div class="clearfix"></div>
</div>

<div class="placeholders">

 <div class="col-xs-1 placeholder" ng-repeat="analog in analogs"
  style="padding-left: 5px; padding-right: 5px; min-width: 80px;">
  <div class="well" title="{{ analog.value | number:2 }} / {{ analog.limit | number:2 }} V"
   style="font-weight: bold; font-size: larger; background-color: #fcf8e3; border-color: #FAEBCC; padding-left: 5px; padding-right: 5px;">
   {{analog.rate | number:0}}&nbsp;%</div>
  <h4>{{::analog.name}}</h4>
  <span class="text-muted">~&nbsp;{{analog.value | number:1}}&nbsp;V</span>
 </div>

 <div class="col-sm-1 placeholder pull-right" style="min-width: 135px;" ng-repeat="temp in temps">
  <div class="well"
   style="font-weight: bold; font-size: larger; background-color: #d9edf7; border-color: #bce8f1;">
   {{temp.value}}&nbsp;&deg;C</div>
  <h4>{{::temp.name}}</h4>
  <span class="text-muted">temperature</span>
 </div>

 <div class="clearfix"></div>
</div>

<div class="row">

 <div class="col-sm-6">
  <div class="panel panel-success">
   <div class="panel-heading">
    <h3 class="panel-title">
     <a name="sensors">Sensors</a>
    </h3>
   </div>
   <div class="panel-body">
    <div class="table-responsive">
     <table class="table table-striped">
      <thead>
       <tr>
        <th class="text-center" style="width: 10%;">#</th>
        <th>Location</th>
        <th class="text-center" style="width: 30%;">State</th>
       </tr>
      </thead>
      <tbody>
       <tr ng-repeat="input in inputs">
        <td class="text-center">{{::$index + 1}}</td>
        <td>{{::input.name}}</td>
        <td class="text-center" style="font-weight: bold;"
         title="{{ (input.value ? 'HIGH' : 'LOW') }}">
         <div ng-switch="input.value">
          <div ng-switch-when="true">
           <span style="color: green;">{{::input.txt_on}}</span>
          </div>
          <div ng-switch-when="false">
           <span style="color: black;">{{::input.txt_off}}</span>
          </div>
          <div ng-switch-default>
           <span style="color: graytext;">N/A</span>
          </div>
         </div>
        </td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
  </div>
 </div>

 <div class="col-sm-6">
  <div class="panel panel-danger">
   <div class="panel-heading">
    <h3 class="panel-title">
     <a name="relays">Outputs &amp; Relays</a>
    </h3>
   </div>
   <div class="panel-body">
    <div class="table-responsive">
     <table class="table table-striped">
      <thead>
       <tr>
        <th class="text-center" style="width: 10%;">#</th>
        <th>Relay</th>
        <th class="text-center" style="width: 30%;">Control</th>
       </tr>
      </thead>
      <tbody>
       <tr ng-repeat="relay in relays">
        <td class="text-center">{{::$index + 1}}</td>
        <td>{{::relay.name}}</td>
        <td class="text-center">
         <div ng-switch="relay.value != null">
          <div ng-switch-when="true">
           <div class="switch"
            title="{{ $root.currentUser.loggedIn != true ? 'Login to enable this function' : ('Toggle relay ' + relay.txt_on + '/' + relay.txt_off) }}">
            <input id="toggle-relay-{{relay.id}}"
             class="cmn-toggle cmn-toggle-round-flat" type="checkbox"
             ng-model="relay.value"
             ng-change="outputChanged({id: relay.id, val: relay.value})"
             ng-disabled="$root.currentUser.loggedIn != true"> <label
             for="toggle-relay-{{relay.id}}"></label>
           </div>
          </div>
          <div ng-switch-default>
           <span style="color: graytext; font-weight: bold;" title="Connecting to the device...">N/A</span>
          </div>
         </div>
        </td>
       </tr>
      </tbody>
     </table>
    </div>

    <div class="table-responsive" style="margin-top: 17px;">
     <table class="table table-striped">
      <thead>
       <tr>
        <th class="text-center" style="width: 10%;">#</th>
        <th>Output</th>
        <th class="text-center" style="width: 30%;">Control</th>
       </tr>
      </thead>
      <tbody>
       <tr ng-repeat="output in outputs">
        <td class="text-center">{{::$index + 1}}</td>
        <td>{{::output.name}}</td>
        <td class="text-center">
         <div ng-switch="output.value != null">
          <div ng-switch-when="true">
           <div class="switch"
            title="{{ $root.currentUser.loggedIn != true ? 'Login to enable this function' : ('Toggle output ' + output.txt_on + '/' + output.txt_off) }}">
            <input id="toggle-out-{{output.id}}"
             class="cmn-toggle cmn-toggle-round-flat" type="checkbox"
             ng-model="output.value"
             ng-change="outputChanged({id: output.id, val: output.value})"
             ng-disabled="$root.currentUser.loggedIn != true"> <label
             for="toggle-out-{{output.id}}"></label>
           </div>
          </div>
          <div ng-switch-default>
           <span style="color: graytext; font-weight: bold;" title="Connecting to the device...">N/A</span>
          </div>
         </div>
        </td>
       </tr>
      </tbody>
     </table>
    </div>

   </div>
  </div>
 </div>
</div>
