<div class="login-center">
<div class="col-md-6 col-md-offset-3">

 <div class="panel panel-info">
  <div class="panel-heading">
   <h3 class="panel-title">
    <a name="sensors">Authentication</a>
   </h3>
  </div>
  <div class="panel-body">

   <form name="form" ng-submit="login()" role="form">
    <div class="form-group"
     ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
     <label for="username">User Name</label> <input type="text"
      name="username" id="username" class="form-control"
      ng-model="username" tabindex="1" ng-required="true" autofocus />
    </div>
    <div class="form-group"
     ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
     <label for="password">Password</label> <input type="password"
      name="password" id="password" class="form-control"
      ng-model="password" tabindex="2" />
    </div>
    
    <div ng-show="error" class="alert alert-danger">{{error}}</div>    
    <div class="form-actions text-center">
     <button type="submit" ng-disabled="form.$invalid || dataLoading"
      class="btn btn-lg btn-primary" tabindex="3" style="width: 140px;" >
      <img ng-if="dataLoading"
      src="/img/loader.gif" />
      Login</button>     
    </div>
   </form>
  </div>