<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<link rel="shortcut icon" href="/logo.png" type="image/x-icon" />
<link rel="apple-touch-icon-precomposed" href="/logo.png" />
<meta name="description" content="">
<meta name="author" content="">

<title ng-cloak>{{ $root.appName }}</title>

<link rel="stylesheet" type="text/css" href="vendor/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
   	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  	<![endif]-->
</head>

<body data-feedly-mini="yes">
 <nav class="navbar navbar-inverse navbar-fixed-top center">
  <div class="container-fluid">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed"
     data-toggle="collapse" data-target="#navbar" aria-expanded="false"
     aria-controls="navbar">
     <span class="sr-only">Toggle navigation</span> <span
      class="icon-bar"></span> <span class="icon-bar"></span> <span
      class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="http://www.qibixx.com" target="blank">
    	<img ng-src="/img/qibixx.png" alt="Qibixx" style="width:142px; height: 55px; position: absolute; top: 0; left: 0;" />
    </a>
   </div>
   <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
     <li ng-hide="$root.currentUser.loggedIn"
      ng-class="{active: $state.includes('login')}"><a
      ui-sref='login'>LogIn</a></li>
     <li ng-show="$root.currentUser.loggedIn" ng-cloak><a
      ui-sref="logout" ui-sref='logout'>LogOut</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
     <li ng-class="{active: $state.includes('home')}"><a
      ui-sref='home'>Dashboard</a></li>
     <li ng-class="{active: $state.includes('settings')}"><a
      ui-sref='settings.app.app'>Settings</a></li>
    </ul>
    <ul class="nav navbar-nav" style="padding-left: 6%;" ng-cloak>
     <li>
      <a>
        <span ng-show="$root.appName" ng-cloak style=" color: white; font-weight: bold">{{ $root.appName }}</span> time is
        <span ng-show="$root.time" ng-cloak style="color: #FDE1A6;">{{ $root.time | date: 'MMM dd, yyyy HH:mm' : '$root.tzoffset' }}</span>
        <span ng-show="!$root.time" ng-cloak>
        -
        <img src="/img/loader.gif" />
        connecting...
        </span>
      </a>
     </li>
    </ul>
   </div>
  </div>
 </nav>

 <div class="container-fluid">
  <div class="row">
   <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
     <li class="nav-section"
      ng-class="{active: $state.includes('home')}"><a href="#/home">Dashboard</a></li>
     <li ng-class="{active: $state.is('home')}"><a href="#/home">Overview</a></li>
    </ul>
    <ul class="nav nav-sidebar" ng-show="$root.currentUser.loggedIn"
     ng-cloak>
     <li class="nav-section"
      ng-class="{active: $state.includes('settings.app')}"><a
      ui-sref='settings.app.app'>Settings</a></li>
     <li ng-class="{active: $state.is('settings.app.app')}"><a
       ui-sref='settings.app.app'>IDS Setup</a></li>
     <li ng-class="{active: $state.is('settings.app.net')}"><a
       ui-sref='settings.app.net'>Network</a></li>
     <li ng-class="{active: $state.is('settings.app.wifi')}"><a
       ui-sref='settings.app.wifi'>Wireless</a></li>
     <li ng-class="{active: $state.is('settings.app.ktcpd')}">
       <a ui-sref='settings.app.ktcpd'>Serial Port Server</a>
     </li>
    </ul>
    <ul class="nav nav-sidebar" ng-show="$root.currentUser.loggedIn"
     ng-cloak>
     <li class="nav-section"
      ng-class="{active: $state.includes('settings.io')}"><a
      ui-sref='settings.io.di'>Hardware</a></li>
     <li ng-class="{active: $state.is('settings.io.di')}"><a
      ui-sref='settings.io.di'>Digital Inputs</a></li>
     <li ng-class="{active: $state.is('settings.io.ai')}"><a
      ui-sref='settings.io.ai'>Analog Inputs</a></li>
     <li ng-class="{active: $state.is('settings.io.do')}"><a
      ui-sref='settings.io.do'>Outputs &amp; Relays</a></li>
     <li ng-class="{active: $state.is('settings.io.usb')}">
       <a ui-sref='settings.io.usb'>USB Devices</a>
     </li>
    </ul>
    <ul class="nav nav-sidebar" ng-show="$root.currentUser.loggedIn"
     ng-cloak>
     <li class="nav-section"
      ng-class="{active: $state.includes('settings.sys')}"><a
      ui-sref='settings.sys.time'>System</a></li>
     <li ng-class="{active: $state.is('settings.sys.apps')}">
       <a ui-sref='settings.sys.apps'>Applications</a></li>
     <li ng-class="{active: $state.is('settings.sys.time')}">
       <a ui-sref='settings.sys.time'>Date &amp; Time</a></li>
     <li ng-class="{active: $state.is('settings.sys.pswd')}">
       <a ui-sref='settings.sys.pswd'>Password</a></li>
     <li ng-class="{active: $state.is('settings.sys.firm')}">
       <a ui-sref='settings.sys.firm'>Firmware</a></li>
     <li ng-class="{active: $state.is('settings.sys.rbt')}">
       <a ui-sref='settings.sys.rbt'>Reboot</a></li>
    </ul>
   </div>

   <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"
    ui-view></div>
  </div>
 </div>

 <script src="vendor/underscore-min.js"></script>
 <script src="vendor/jquery.min.js"></script>
 <script src="vendor/bootstrap.min.js"></script>
 <script src="vendor/angular.min.js"></script>
 <script src="vendor/angular-ui-router.min.js"></script>
 <script src="vendor/angular-cookies.min.js"></script>
 <script src="vendor/md5.js"></script>
 <script src="vendor/crypt.js"></script>
 <script src="app/app.js"></script>
 <script src="app/auth/auth.js" ng-if="$state.includes('login')"></script>
 <script src="app/home/home.js" ng-if="$state.includes('home')"></script>
 <script src="app/settings/app/settings.app.js"
  ng-if="$state.includes('settings.app')"></script>
 <script src="app/settings/io/settings.io.js"
  ng-if="$state.includes('settings.io')"></script>
 <script src="app/settings/system/settings.sys.js"
  ng-if="$state.includes('settings.sys')"></script>
</body>
</html>
