<div class="page-header">
  <h1>Applications</h1>
</div>

<div class="row">
  <div class="col-sm-12">
    <form name="form" id="form" role="form" enctype="multipart/form-data"
          class="form-horizontal" ng-submit="upgrade()">

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th class="text-center" style="width: 20%;">Version</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="app in apps" class="{{ app.isEnabled ? '' : 'active' }}">
              <td style="vertical-align: middle;" >{{::app.name}}</td>
              <td class="text-center" style="vertical-align: middle;">{{::app.version}}</td>
              <td>
                <button ng-disabled="!app.canDisable" ng-show="!app.isEnabled" class="btn btn-sm btn-success" style="width: 80px; visibility: {{ app.canDisable ? 'visible' : 'hidden' }};" ng-cloak>
                  Enable
                </button>
                <button ng-disabled="!app.canDisable" ng-show="app.isEnabled" class="btn btn-sm" style="width: 80px; visibility: {{ app.canDisable ? 'visible' : 'hidden' }};" ng-cloak>
                  Disable
                </button>
                <button ng-disabled="!app.canRemove" ng-show="app.canRemove" class="btn btn-sm btn-danger" style="width: 80px;" ng-cloak>
                  Remove
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="2" align="right" style="vertical-align:middle; border-top: 2px solid #ddd;">
                <div class="form-group" ng-class="{ 'has-error': form['file'].$dirty && form['file'].$invalid }">
                  <label for="file" class="control-label">Upload Application:</label>
                  <div style="padding-top: 6px; display: inline-block; margin-left: 20px;">
                    <input type="file" name="file" accept=".cpt"
                           ng-model="file" valid-file required
                           ng-disabled="dataLoading"
                           onchange="angular.element(this).scope().upload(this.files)">
                  </div>
                </div>
              </td>
              <td align="left" style="border-top: 2px solid #ddd;">
                <div class="form-action">
                  <button type="submit"
                          ng-disabled="form.$invalid || !fileUploaded || dataLoading"
                          class="btn btn-primary" tabindex="2" style="width: 140px;">
                    <img ng-if="dataLoading" src="/img/loader.gif" />
                    Install
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <div ng-show="error" class="alert alert-danger text-center">{{error}}</div>
        <div ng-show="warning" class="alert alert-warning text-center">{{warning}}</div>
        <div ng-show="message" class="alert alert-success text-center">{{message}}</div>
      </div>

    </form>

  </div>
</div>
