<div class="page-header">
  <h1>Date & Time</h1>
</div>

<div class="col-sm-8 col-sm-offset-2">
 <form name="form" id="form" role="form" class="form-horizontal"
  ng-submit="save()">
 
  <div class="form-group" style="margin-top: 40px; margin-bottom: 40px;"
   ng-class="{ 'has-error': form['app_name'].$dirty && form['app_name'].$invalid }">
   <label for="app_name" class="col-sm-3 control-label">Date &amp; Time</label>
   <div class="col-sm-8 control-label" style="text-align: left; font-weight: bold; color: #3C763D;">
      {{ $root.time | date: 'MMM d, y H:mm' : '$root.tzoffset' }}
    </div>
  </div>
  
  <div class="form-group"  style="margin-bottom: 40px;"
   ng-class="{ 'has-error': form['app_timezone'].$dirty && form['app_timezone'].$invalid }">
   <label for="app_timezone" class="col-sm-3 control-label">Timezone</label>
   <div class="col-sm-8">
    <select ng-model="time.timezone" class="form-control"
     name="app_timezone" id="app_timezone" ng-required="true">
     <option value="NZST-12NZDT,M9.5.0,M4.1.0/3">(GMT-12:00) International Date Line West</option>
     <option value="SST11">(GMT-11:00) Midway Island, Samoa</option>
     <option value="HST10">(GMT-10:00) Hawaii</option>
     <option value="AKST9AKDT,M3.2.0,M11.1.0">(GMT-09:00) Alaska</option>
     <option value="PST8">(GMT-08:00) Pacific Time (US & Canada)</option>
     <option value="MST7">(GMT-07:00) Mountain Time (US & Canada)</option>
     <option value="CST6">(GMT-06:00) Central Time (US & Canada)</option>
     <option value="EST5">(GMT-05:00) Eastern Time (US & Canada)</option>
     <option value="AMT4">(GMT-04:00) Atlantic Time (Canada)</option>
     <option value="ART3">(GMT-03:00) Brasilia, Buenos Aires, Georgetown</option>
     <option value="GST2">(GMT-02:00) Mid-Atlantic</option>
     <option value="AZOT1AZOST,M3.5.0/0,M10.5.0/1">(GMT-01:00) Azores, Cape Verde Is.</option>
     <option value="UTC">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
     <option value="CET-1CEST,M3.5.0,M10.5.0/3">(GMT+01:00) Amsterdam, Berlin, Rome, Vienna</option>
     <option value="EET-2EEST,M3.5.0/3,M10.5.0/4">(GMT+02:00) Helsinki, Kyiv, Riga, Minsk</option>    
     <option value="MSK-4">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
     <option value="IRST-3:30IRDT,80/0,264/0">(GMT+03:30) Tehran</option>
     <option value="GST-4">(GMT+04:00) Abu Dhabi, Muscat, Baku, Yerevan</option>
     <option value="AFT-4:30">(GMT+04:30) Kabul</option>
     <option value="UZT-5">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
     <option value="IST-5:30">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
     <option value="NPT-5:45">(GMT+05:45) Kathmandu</option>    
     <option value="NOVT-6NOVST,M3.5.0,M10.5.0/3">(GMT+06:00) Almaty, Novosibirsk, Astana, Dhaka</option>
     <option value="MMT-6:30">(GMT+06:30) Yangon (Rangoon)</option>
     <option value="ICT-7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
     <option value="SGT-8">(GMT+08:00) Beijing, Hong Kong, Singapore</option>
     <option value="JST-9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
     <option value="CST-9:30CST,M10.1.0,M4.1.0/3">(GMT+09:30) Adelaide</option>
     <option value="EST-10EST,M10.1.0,M4.1.0/3">(GMT+10:00) Canberra, Melbourne, Sydney</option>
     <option value="MAGT-11MAGST,M3.5.0,M10.5.0/3">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
     <option value="NZST-12NZDT,M9.5.0,M4.1.0/3">(GMT+12:00) Auckland, Wellington</option>
     <option value="TOT-13">(GMT+13:00) Nuku'alofa</option>
    </select>
   </div>
  </div>
 
 <div class="form-group">
  <label class="col-sm-3 control-label">NTP Servers</label>
  <div>&nbsp;</div>
 </div>
  
  <div ng-repeat="srv in time.ntps track by $index">
   <div class="form-group"
         ng-class="{ 'has-error': form['ntp_'+$index].$dirty && form['ntp_'+$index].$invalid }">
         <label class="col-sm-3 control-label" for="ntp_{{:: $index}}" >{{::$index + 1}}</label>
         <div class="col-sm-8">
          <input ng-model="time.ntps[$index]" ng-maxlength="128"
           name="ntp_{{$index}}" id="ntp_{{$index}}" type="text"
           class="form-control input-sm"
           placeholder="URL or IPv4/IPv6 Address" />
          </div>
        </div>
   </div>
 
  <div class="form-group">
   <div ng-show="error" class="alert alert-danger text-center" style="margin-left: 20%;">{{error}}</div>
   <div ng-show="warning" class="alert alert-warning text-center" style="margin-left: 20%;">{{warning}}</div>
   <div ng-show="message" class="alert alert-success text-center" style="margin-left: 20%;">{{message}}</div>
  </div>
 
  <div class="form-actions text-center" style="margin-left: 20%;">
   <button type="submit" ng-disabled="form.$invalid || dataLoading"
    class="btn btn-lg btn-primary" tabindex="2" style="width: 140px;">
    <img ng-if="dataLoading"
     src="/img/loader.gif" />
    Apply
   </button>
  </div>
 
 </form>
</div>
