<div class="page-header">
  <h1>Firmware</h1>
</div>

<div class="row">

 <div class="col-sm-5">
  <h3>System Information</h3>
  <hr />

  <table class="table">
    <tbody>
      <tr>
        <td style="text-align: right; padding-right: 5%; font-weight: bold; border: 0; width: 30%;">Model</td>
        <td style="border: 0;">{{ system.model }}</td>
      </tr>
      <tr>
        <td style="text-align: right; padding-right: 5%; font-weight: bold; border: 0; width: 30%;">Firmware</td>
        <td style="border: 0;">{{ system.firmware }} ({{ system.version }})</td>
        <!-- td style="border: 0;">Linulus (v15.05.r47243)</td -->
      </tr>
      <tr>
        <td style="text-align: right; padding-right: 5%;font-weight: bold; border: 0;">Memory</td>
        <td style="border: 0;">{{ (system.memory.total * 1.0 / 1024 / 1024) | number : 1 }} MB ({{ system.memory.free * 100.0 / system.memory.total | number : 1 }}% free) </td>
      </tr>
    </tbody>
  </table>
  
 </div>

 <div class="col-sm-6 col-sm-offset-1">
  <h3>Firmware Upgrade</h3>
  <hr />

  <form name="form" id="form" role="form" enctype="multipart/form-data"
   class="form-horizontal" ng-submit="upgrade()">
   
   <div class="form-group"
    ng-class="{ 'has-error': form['file'].$dirty && form['file'].$invalid }">
    <label for="file" class="col-sm-4 control-label">File</label>
    <div class="col-sm-8" style="padding-top: 6px;">
     <input type="file" name="file" accept=".bin"
        ng-model="file" valid-file required
        ng-disabled="dataLoading" 
        onchange="angular.element(this).scope().upload(this.files)">
    </div>
   </div>
   
   <div class="form-group" style="margin-top: 30px;">
     <div ng-show="error" class="alert alert-danger text-center">{{error}}</div>
     <div ng-show="warning" class="alert alert-warning text-center">{{warning}}</div>
     <div ng-show="message" class="alert alert-success text-center">{{message}}</div>
   </div>
   
   <div class="form-action text-center">
    <button type="submit"
     ng-disabled="form.$invalid || !fileUploaded || dataLoading"
     class="btn btn-lg btn-primary" tabindex="2" style="width: 140px;">
     <img ng-if="dataLoading" src="/img/loader.gif" />
     Upgrade
    </button>
   </div>

  </form>
 </div>
</div>

<!--
<div class="row" style="margin-top: 50px;">
 <div class="col-sm-12">
 <h3>Log</h3>
  <hr />
    <div class="table-responsive">
     <table class="table table-striped">
      <thead>
       <tr>
        <th style="width: 20%;">Version</th>
        <th>User</th>
        <th style="width: 20%;" >IP:Port</th>
        <th style="width: 30%;">Date &amp; Time</th>
       </tr>
      </thead>
      <tbody>
       <tr ng-repeat="log in logs" >
        <td>{{::log.version}}</td>
        <td>
          <span ng-if="log.user">{{::log.user}}</span>
          <span ng-if="!log.user">-</span>
        </td>
        <td>
          <span ng-if="log.client">{{::log.client.ip}}:{{::log.client.port}}</span>
          <span ng-if="!log.client">-</span>          
        </td>
        <td>{{::log.time}}</td>
       </tr>
      </tbody>
     </table>
    </div>
 
 </div>
-->
