<div class="page-header">
  <h1>Maintenance</h1>
</div>

<div class="row">

 <div class="col-sm-6">
  <h3>Scheduled Reboot</h3>
  <hr />

  <form name="form" id="form" role="form" class="form-horizontal"
   ng-submit="save()">

   <div class="form-group"
    ng-class="{ 'has-error': form['reboot_interval'].$dirty && form['reboot_interval'].$invalid }">
    <label for="reboot_interval" class="col-sm-4 control-label">Reboot
     Interval</label>
    <div class="col-sm-8">
     <div class="input-group">
      <input ng-model="reboot.interval" type="number" ng-min="0" ng-max="365"
       class="form-control" name="reboot_interval" id="reboot_interval"
       ng-required="true" aria-describedby="reboot_interval_addon">
      <span class="input-group-addon" id="reboot_interval_addon">Days</span>
     </div>
    </div>
   </div>
   <div class="form-group"
    ng-class="{ 'has-error': form['reboot_time'].$dirty && form['reboot_time'].$invalid }">
    <label for="reboot_time" class="col-sm-4 control-label">Reboot
     Time</label>
    <div class="col-sm-8">
     <div class="input-group">
      <input ng-model="reboot.time" type="number" ng-min="0" ng-max="24"
       class="form-control" name="reboot_time" id="reboot_time"
       ng-required="true" aria-describedby="reboot_time_addon">
      <span class="input-group-addon" id="reboot_time_addon">o'clock</span>
     </div>
    </div>
   </div>

   <div class="form-actions text-center col-sm-offset-4"  style="margin-top:30px;">
    <button type="submit" ng-disabled="form.$invalid || dataLoading"
     class="btn btn-lg btn-primary" tabindex="2" style="width: 140px;">
     <img ng-if="dataLoading"
      src="/img/loader.gif" />
     Apply
    </button>
   </div>

  </form>
 </div>

 <div class="col-sm-5 col-sm-offset-1">
  <h3>Manual Reboot</h3>
  <hr />

  <form name="form_reboot" id="form_reboot" role="form"
   class="form-horizontal" ng-submit="reboot()">

   <div class="form-group" style="margin-right: 0; margin-left: 0;"
    ng-class="{ 'has-error': form_reboot['reboot_now_notes'].$dirty && form_reboot['reboot_now_notes'].$invalid }">
    <textarea ng-model="reboot_now.notes" rows="3" class="form-control" ng-maxlength="1024"
     style="height: 84px;" name="reboot_now_notes" id="reboot_now_notes"
     placeholder="Provide your message here"></textarea>
   </div>
   
   <div class="form-actions text-center" style="margin-top:30px;">
    <button type="submit"
     ng-disabled="form_reboot.$invalid || dataLoading"
     class="btn btn-lg btn-primary" tabindex="2" style="width: 140px;"
     onclick="return confirm('Barionet device will restart now.\n\nReason:\n&quot;' + (form_reboot.reboot_now_notes.value != '' ? form_reboot.reboot_now_notes.value : '&lt;not specified&gt;')  + '&quot;\n');">
     <img ng-if="dataLoading"
      src="/img/loader.gif" />
     Reboot
    </button>
   </div>

  </form>
 </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div ng-show="error" class="alert alert-danger text-center">{{error}}</div>
  <div ng-show="warning" class="alert alert-warning text-center">{{warning}}</div>
  <div ng-show="message" class="alert alert-success text-center">{{message}}</div>
</div>

<!--
<div class="row" style="margin-top: 50px;">
 <div class="col-sm-12">
 <h3>Events Log</h3>
  <hr />
    <div class="table-responsive">
     <table class="table table-striped">
      <thead>
       <tr>
        <th class="text-center">#</th>
        <th>User</th>
        <th class="text-center" style="width: 20%;" >IP:Port</th>
        <th class="text-center" style="width: 30%;">Date &amp; Time</th>
       </tr>
      </thead>
      <tbody>
       <tr ng-repeat="log in logs" style="{{ $index == 0 ? 'font-weight: bold; color: #A94442; background-color: #FFF6F6;' : '' }}" >
        <td class="text-center">{{::$index + 1}}</td>
        <td>{{::log.name}}</td>
        <td>
          <span ng-if="log.client">{{::log.client.ip}}:{{::log.client.port}}</span>
          <span ng-if="!log.client">-</span>          
        </td>
        <td>{{::log.time}}</td>
       </tr>
      </tbody>
     </table>
    </div>
 
 </div>
-->
