<div class="page-header">
  <h1>Change Password</h1>
</div>

 <div class="col-sm-8 col-sm-offset-2">

  <form name="form" id="form" role="form" class="form-horizontal"
   ng-submit="save()">


   <div class="form-group" style="margin-top:30px;">
    <label for="usr_name" class="col-sm-3 control-label">User</label>
    <div class="col-sm-8 control-label" style="text-align: left; font-weight: bold; color: #3C763D;">
      {{:: $root.currentUser.userName }}
    </div>
   </div>
   
   <div class="form-group"
    ng-class="{ 'has-error': form['pwd_curr'].$dirty && form['pwd_curr'].$invalid }">
    <label for="pwd_new" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-8">
      <input ng-model="password.curr" type="password"
       class="form-control" name="pwd_curr" id="pwd_curr">
    </div>
   </div>
   
   <div class="form-group" style="margin-top:30px;">
    <label for="usr_name" class="col-sm-3 control-label">&nbsp;</label>
    <div class="col-sm-8 control-label" style="text-align: left; color: #9d9d9d;">
      * New password should be at least 6 characters long
    </div>
   </div>
   
   <div class="form-group"
    ng-class="{ 'has-error': form['pwd_new'].$dirty && form['pwd_new'].$invalid }">
    <label for="pwd_new" class="col-sm-3 control-label">New Password</label>
    <div class="col-sm-8">
      <input ng-model="password.new" type="password" ng-minlength="6" ng-maxlength="16"
       class="form-control" name="pwd_new" id="pwd_new">
    </div>
   </div>
   
   <div class="form-group"
    ng-class="{ 'has-error': form['pwd_confirm'].$dirty && form['pwd_confirm'].$invalid }">
    <label for="pwd_confirm" class="col-sm-3 control-label">New Password</label>
    <div class="col-sm-8">
      <input ng-model="password.confirm" type="password" ng-minlength="6" ng-maxlength="16"
       class="form-control" name="pwd_confirm" id="pwd_confirm" compare-to="password.new">
    </div>
   </div>

   <div ng-show="error" class="alert alert-danger text-center" style="margin-left: 20%;">{{error}}</div>
   <div ng-show="warning" class="alert alert-warning text-center" style="margin-left: 20%;">{{warning}}</div>
   <div ng-show="message" class="alert alert-success text-center" style="margin-left: 20%;">{{message}}</div>

   <div class="form-actions text-center" style="margin-top:30px; margin-left: 20%;">
    <button type="submit" ng-disabled="form.$invalid || dataLoading"
     class="btn btn-lg btn-primary" tabindex="2" style="width: 140px;">
     <img ng-if="dataLoading"
      src="/img/loader.gif" />
     Apply
    </button>
   </div>

  </form>
 </div>