<div class="page-header">
 <h1 class="pull-left">Wireless</h1>
 <div class="pull-right">
  <div class="switch"
   style="bottom: 15px; position: relative; top: 25px;"
   title="Turns WiFi ON/OFF">
   <input id="toggle-wifi" class="cmn-toggle cmn-toggle-round-flat"
    type="checkbox" ng-model="wifi.up" ng-disabled="wifiLoading"
    ng-change="wifiEnable({ val: wifi.up })">
    <label for="toggle-wifi"></label>
    <img ng-if="wifiLoading" style="    position: absolute; right: -12px; top: 2px;"
    src="/img/loader.gif" />
    <span>OFF / ON</span>
  </div>
 </div>
 <div class="clearfix"></div>
</div>

<form name="form" id="form" role="form" class="form-horizontal"
 ng-submit="save()">

 <div class="col-sm-7" style="margin-top: 30px;">

  <div class="form-group">
   <label class="col-sm-3 control-label">Mode</label>
   <div class="col-sm-8 control-label">
    <div class="row row-centered">
     <div class="pull-left text-left"
      style="padding-left: 15px; width: 40%; {{ wifi.isClient ? 'color: #CCC;' : 'font-weight: bold; color: #729fcf;' }}">Access Point</div>
     <div class="pull-right text-right"
      style="padding-right: 15px; width: 30%; {{ wifi.isClient ? 'color: #8ce196; font-weight: bold;' : 'color: #CCC;' }}">WiFi Client</div>
     <div>
      <div class="switch" title="Select Mode">
       <input id="toggle-mode"
        class="cmn-toggle cmn-toggle-off-blue cmn-toggle-round-flat"
        type="checkbox" ng-model="wifi.isClient"> <label
        for="toggle-mode"></label>
      </div>
     </div>
    </div>
   </div>
  </div>

  <div class="form-group"
   ng-class="{ 'has-error': form['ssid'].$dirty && form['ssid'].$invalid }">
   <label for="ssid" class="col-sm-3 control-label">SSID</label>
   <div class="{{ wifi.isClient ? 'col-sm-8' : 'col-sm-4' }}">
    <input ng-model="wifi.ssid" type="text" class="form-control"
     name="ssid" id="ssid" ng-required="true" ng-maxlength="32">
   </div>
   <div ng-show="!wifi.isClient" class="col-sm-4" style="padding-top: 6px;" ng-cloak>
    <div class="pull-right">
     <div class="switch" title="Broadcast SSID">
      <input id="toggle-ssid"
       class="cmn-toggle cmn-toggle-round-flat"
       type="checkbox" ng-model="wifi.ssidOn"> <label
       for="toggle-ssid"></label>
     </div>
   </div>
   <div class="pull-right" style="padding-right: 10px; {{ wifi.ssidOn ? 'color: #729fcf; font-weight: bold;' : 'color: #CCC;' }}" >
     Broadcast
   </div>
   </div>
  </div>
  <div class="form-group"
   ng-class="{ 'has-error': form['encryption'].$dirty && form['encryption'].$invalid }">
   <label for="encryption" class="col-sm-3 control-label">Encryption</label>
   <div class="col-sm-8">
    <select ng-model="wifi.encryption" class="form-control"
       name="encryption" id="encryption" ng-required="true">
       <option value="none">None</option>
       <option value="psk+tkip">WPA-PSK (TKIP)</option>
       <option value="psk2">WPA2-PSK (AES)</option>
       <option value="psk-mixed+tkip+ccmp">WPA/WPA2-PSK (TKIP+CCMP)</option>
       WPA/WPA2       
       </select>
   </div>
  </div>
  <div class="form-group"
   ng-class="{ 'has-error': form['passphrase'].$invalid }">
   <label for="passphrase" class="col-sm-3 control-label">Passphrase</label>
   <div class="col-sm-8">
    <input ng-model="wifi.passphrase" type="text" class="form-control"
     name="passphrase" id="passphrase" ng-required="wifi.encryption != 'none'"     
     ng-minlength="8" ng-maxlength="16">
   </div>
  </div>


  <div ng-if="wifi.isClient" ng-cloak>
   <div class="form-group"
    ng-class="{ 'has-error': form['client_ipaddr'].$invalid }">
    <label for="client_ipaddr" class="col-sm-3 control-label">IP Address</label>
    <div class="col-sm-8">
     <input ng-model="client.ipaddr" type="text"
      class="form-control" name="client_ipaddr" id="client_ipaddr"
      placeholder="{{curr_ip.ipaddr }}" ipv4>
    </div>
   </div>
   
   <div class="form-group"
    ng-class="{ 'has-error': form['client_netmask'].$invalid }">
    <label for="client_netmask" class="col-sm-3 control-label">IP Netmask</label>
    <div class="col-sm-8">
     <input ng-model="client.netmask" type="text"
      class="form-control" name="client_netmask" id="client_netmask"
      placeholder="{{curr_ip.netmask }}"
      ng-required="wifi.isClient && (client.ipaddr != null && client.ipaddr != '')" ipv4>
    </div>
   </div>
 </div>

  <div ng-if="!wifi.isClient" ng-cloak>
   <div class="form-group"
    ng-class="{ 'has-error': form['ap_ipaddr'].$invalid }">
    <label for="ap_ipaddr" class="col-sm-3 control-label">Gateway IP</label>
    <div class="col-sm-8">
     <input ng-model="ap.ipaddr" type="text"
      class="form-control" name="ap_ipaddr" id="ap_ipaddr"
      placeholder="{{curr_ip.ipaddr }}"
      ng-required="!wifi.isClient" ipv4>
    </div>
   </div>
   
   <div class="form-group"
    ng-class="{ 'has-error': form['ap_netmask'].$invalid }">
    <label for="ap_netmask" class="col-sm-3 control-label">Subnet Mask</label>
    <div class="col-sm-8">
     <input ng-model="ap.netmask" type="text"
      class="form-control" name="ap_netmask" id="ap_netmask"
      placeholder="{{curr_ip.netmask }}"
      ng-required="!wifi.isClient" ipv4>
    </div>
   </div>
   
   <div class="form-group" ng-show="!wifi.isClient" ng-cloak>
    <label for="ap_dhcp_enabled" class="col-sm-3 control-label">DHCP Server</label>
    <div class="col-sm-8" style="padding-top: 6px;">
      <div class="pull-left">
       <div class="switch" title="DHCP ON/OFF">
        <input id="toggle-dhcp"
         class="cmn-toggle cmn-toggle-round-flat"
         type="checkbox" ng-model="ap.dhcp.isEnabled"> <label
         for="toggle-dhcp"></label>
       </div>
     </div>
     <div class="pull-left" style="padding-left: 10px; {{ ap.dhcp.isEnabled ? 'color: #729fcf; font-weight: bold;' : 'color: #CCC;' }}" >Enable</div>
    </div>
   </div>
   
   <div class="form-group" ng-show="!wifi.isClient && ap.dhcp.isEnabled" ng-cloak
     ng-class="{ 'has-error': form['ap_dhcp_leasetime'].$invalid }">
     <label for="ap_dhcp_leasetime" class="col-sm-3 control-label">Lease</label>
     <div class="col-sm-4">
      <div class="input-group">
        <input ng-model="ap.dhcp.leasetime" type="number" min="0" max="24"
          class="form-control" name="ap_dhcp_leasetime" id="ap_dhcp_lease"
          ng-required="!wifi.isClient && ap.dhcp.isEnabled">
          <span class="input-group-addon" id="ap_dhcp_leasetime_addon">Hours</span>
       </div>
     </div>
    </div>
   
   <div class="form-group" ng-show="!wifi.isClient && ap.dhcp.isEnabled" ng-cloak
    ng-class="{ 'has-error': form['ap_dhcp_start'].$invalid || form['ap_dhcp_limit'].$invalid }">
    <label for="ap_dhcp_start" class="col-sm-3 control-label">IP Range</label>
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-addon" id="ap_dhcp_start_addon">{{ ap.ipaddr.substring(0, ap.ipaddr.lastIndexOf('.') + 1) }}</span>
        <input ng-model="ap.dhcp.start" type="number" min="1" max="255"
          class="form-control" name="ap_dhcp_start" id="ap_dhcp_start"
          ng-required="!wifi.isClient && ap.dhcp.isEnabled">
      </div>
    </div>
    <div class="col-sm-4">
    <div class="input-group">
        <span class="input-group-addon" id="ap_dhcp_limit_addon">{{ ap.ipaddr.substring(0, ap.ipaddr.lastIndexOf('.') + 1) }}</span>
        <input ng-model="ap.dhcp.limit" type="number" min="1" max="255"
          class="form-control" name="ap_dhcp_limit" id="ap_dhcp_limit"
          ng-required="!wifi.isClient && ap.dhcp.isEnabled" higher-than="{{ ap.dhcp.start }}">
       </div>
     </div>
     <div style="position: relative; left: -33.7%; top: 6px;" >-</div>
    </div>
    
  </div>
  
 </div>

 <div class="col-sm-5" style="margin-top: 30px;">

  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title">
     <a name="relays">Radio Channel</a>
    </h3>
   </div>
   <div class="panel-body" style="padding: 22px;">
   
    <div class="form-group"
     ng-class="{ 'has-error': form['country'].$dirty && form['country'].$invalid }">
     <label for="country" class="col-sm-3 control-label">Country</label>
     <div class="col-sm-8">
      <select ng-model="radio.country" class="form-control"
       name="country" id="country" ng-required="true">
       <option value="AF">Afghanistan</option>
       <option value="AX">Aland Islands</option>
       <option value="AL">Albania</option>
       <option value="DZ">Algeria</option>
       <option value="AS">American Samoa</option>
       <option value="AD">Andorra</option>
       <option value="AO">Angola</option>
       <option value="AI">Anguilla</option>
       <option value="AQ">Antarctica</option>
       <option value="AG">Antigua and Barbuda</option>
       <option value="AR">Argentina</option>
       <option value="AM">Armenia</option>
       <option value="AW">Aruba</option>
       <option value="AU">Australia</option>
       <option value="AT">Austria</option>
       <option value="AZ">Azerbaijan</option>
       <option value="BS">Bahamas</option>
       <option value="BH">Bahrain</option>
       <option value="BD">Bangladesh</option>
       <option value="BB">Barbados</option>
       <option value="BY">Belarus</option>
       <option value="BE">Belgium</option>
       <option value="BZ">Belize</option>
       <option value="BJ">Benin</option>
       <option value="BM">Bermuda</option>
       <option value="BT">Bhutan</option>
       <option value="BO">Bolivia, Plurinational State of</option>
       <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
       <option value="BA">Bosnia and Herzegovina</option>
       <option value="BW">Botswana</option>
       <option value="BV">Bouvet Island</option>
       <option value="BR">Brazil</option>
       <option value="IO">British Indian Ocean Territory</option>
       <option value="BN">Brunei Darussalam</option>
       <option value="BG">Bulgaria</option>
       <option value="BF">Burkina Faso</option>
       <option value="BI">Burundi</option>
       <option value="KH">Cambodia</option>
       <option value="CM">Cameroon</option>
       <option value="CA">Canada</option>
       <option value="CV">Cape Verde</option>
       <option value="KY">Cayman Islands</option>
       <option value="CF">Central African Republic</option>
       <option value="TD">Chad</option>
       <option value="CL">Chile</option>
       <option value="CN">China</option>
       <option value="CX">Christmas Island</option>
       <option value="CC">Cocos (Keeling) Islands</option>
       <option value="CO">Colombia</option>
       <option value="KM">Comoros</option>
       <option value="CG">Congo</option>
       <option value="CD">Congo, the Democratic Republic of the</option>
       <option value="CK">Cook Islands</option>
       <option value="CR">Costa Rica</option>
       <option value="CI">Côte d'Ivoire</option>
       <option value="HR">Croatia</option>
       <option value="CU">Cuba</option>
       <option value="CW">Curaçao</option>
       <option value="CY">Cyprus</option>
       <option value="CZ">Czech Republic</option>
       <option value="DK">Denmark</option>
       <option value="DJ">Djibouti</option>
       <option value="DM">Dominica</option>
       <option value="DO">Dominican Republic</option>
       <option value="EC">Ecuador</option>
       <option value="EG">Egypt</option>
       <option value="SV">El Salvador</option>
       <option value="GQ">Equatorial Guinea</option>
       <option value="ER">Eritrea</option>
       <option value="EE">Estonia</option>
       <option value="ET">Ethiopia</option>
       <option value="FK">Falkland Islands (Malvinas)</option>
       <option value="FO">Faroe Islands</option>
       <option value="FJ">Fiji</option>
       <option value="FI">Finland</option>
       <option value="FR">France</option>
       <option value="GF">French Guiana</option>
       <option value="PF">French Polynesia</option>
       <option value="TF">French Southern Territories</option>
       <option value="GA">Gabon</option>
       <option value="GM">Gambia</option>
       <option value="GE">Georgia</option>
       <option value="DE">Germany</option>
       <option value="GH">Ghana</option>
       <option value="GI">Gibraltar</option>
       <option value="GR">Greece</option>
       <option value="GL">Greenland</option>
       <option value="GD">Grenada</option>
       <option value="GP">Guadeloupe</option>
       <option value="GU">Guam</option>
       <option value="GT">Guatemala</option>
       <option value="GG">Guernsey</option>
       <option value="GN">Guinea</option>
       <option value="GW">Guinea-Bissau</option>
       <option value="GY">Guyana</option>
       <option value="HT">Haiti</option>
       <option value="HM">Heard Island and McDonald Islands</option>
       <option value="VA">Holy See (Vatican City State)</option>
       <option value="HN">Honduras</option>
       <option value="HK">Hong Kong</option>
       <option value="HU">Hungary</option>
       <option value="IS">Iceland</option>
       <option value="IN">India</option>
       <option value="ID">Indonesia</option>
       <option value="IR">Iran, Islamic Republic of</option>
       <option value="IQ">Iraq</option>
       <option value="IE">Ireland</option>
       <option value="IM">Isle of Man</option>
       <option value="IL">Israel</option>
       <option value="IT">Italy</option>
       <option value="JM">Jamaica</option>
       <option value="JP">Japan</option>
       <option value="JE">Jersey</option>
       <option value="JO">Jordan</option>
       <option value="KZ">Kazakhstan</option>
       <option value="KE">Kenya</option>
       <option value="KI">Kiribati</option>
       <option value="KP">Korea, Democratic People's Republic of</option>
       <option value="KR">Korea, Republic of</option>
       <option value="KW">Kuwait</option>
       <option value="KG">Kyrgyzstan</option>
       <option value="LA">Lao People's Democratic Republic</option>
       <option value="LV">Latvia</option>
       <option value="LB">Lebanon</option>
       <option value="LS">Lesotho</option>
       <option value="LR">Liberia</option>
       <option value="LY">Libya</option>
       <option value="LI">Liechtenstein</option>
       <option value="LT">Lithuania</option>
       <option value="LU">Luxembourg</option>
       <option value="MO">Macao</option>
       <option value="MK">Macedonia, the former Yugoslav Republic of</option>
       <option value="MG">Madagascar</option>
       <option value="MW">Malawi</option>
       <option value="MY">Malaysia</option>
       <option value="MV">Maldives</option>
       <option value="ML">Mali</option>
       <option value="MT">Malta</option>
       <option value="MH">Marshall Islands</option>
       <option value="MQ">Martinique</option>
       <option value="MR">Mauritania</option>
       <option value="MU">Mauritius</option>
       <option value="YT">Mayotte</option>
       <option value="MX">Mexico</option>
       <option value="FM">Micronesia, Federated States of</option>
       <option value="MD">Moldova, Republic of</option>
       <option value="MC">Monaco</option>
       <option value="MN">Mongolia</option>
       <option value="ME">Montenegro</option>
       <option value="MS">Montserrat</option>
       <option value="MA">Morocco</option>
       <option value="MZ">Mozambique</option>
       <option value="MM">Myanmar</option>
       <option value="NA">Namibia</option>
       <option value="NR">Nauru</option>
       <option value="NP">Nepal</option>
       <option value="NL">Netherlands</option>
       <option value="NC">New Caledonia</option>
       <option value="NZ">New Zealand</option>
       <option value="NI">Nicaragua</option>
       <option value="NE">Niger</option>
       <option value="NG">Nigeria</option>
       <option value="NU">Niue</option>
       <option value="NF">Norfolk Island</option>
       <option value="MP">Northern Mariana Islands</option>
       <option value="NO">Norway</option>
       <option value="OM">Oman</option>
       <option value="PK">Pakistan</option>
       <option value="PW">Palau</option>
       <option value="PS">Palestinian Territory, Occupied</option>
       <option value="PA">Panama</option>
       <option value="PG">Papua New Guinea</option>
       <option value="PY">Paraguay</option>
       <option value="PE">Peru</option>
       <option value="PH">Philippines</option>
       <option value="PN">Pitcairn</option>
       <option value="PL">Poland</option>
       <option value="PT">Portugal</option>
       <option value="PR">Puerto Rico</option>
       <option value="QA">Qatar</option>
       <option value="RE">Réunion</option>
       <option value="RO">Romania</option>
       <option value="RU">Russian Federation</option>
       <option value="RW">Rwanda</option>
       <option value="BL">Saint Barthélemy</option>
       <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
       <option value="KN">Saint Kitts and Nevis</option>
       <option value="LC">Saint Lucia</option>
       <option value="MF">Saint Martin (French part)</option>
       <option value="PM">Saint Pierre and Miquelon</option>
       <option value="VC">Saint Vincent and the Grenadines</option>
       <option value="WS">Samoa</option>
       <option value="SM">San Marino</option>
       <option value="ST">Sao Tome and Principe</option>
       <option value="SA">Saudi Arabia</option>
       <option value="SN">Senegal</option>
       <option value="RS">Serbia</option>
       <option value="SC">Seychelles</option>
       <option value="SL">Sierra Leone</option>
       <option value="SG">Singapore</option>
       <option value="SX">Sint Maarten (Dutch part)</option>
       <option value="SK">Slovakia</option>
       <option value="SI">Slovenia</option>
       <option value="SB">Solomon Islands</option>
       <option value="SO">Somalia</option>
       <option value="ZA">South Africa</option>
       <option value="GS">South Georgia and the South Sandwich Islands</option>
       <option value="SS">South Sudan</option>
       <option value="ES">Spain</option>
       <option value="LK">Sri Lanka</option>
       <option value="SD">Sudan</option>
       <option value="SR">Suriname</option>
       <option value="SJ">Svalbard and Jan Mayen</option>
       <option value="SZ">Swaziland</option>
       <option value="SE">Sweden</option>
       <option value="CH">Switzerland</option>
       <option value="SY">Syrian Arab Republic</option>
       <option value="TW">Taiwan, Province of China</option>
       <option value="TJ">Tajikistan</option>
       <option value="TZ">Tanzania, United Republic of</option>
       <option value="TH">Thailand</option>
       <option value="TL">Timor-Leste</option>
       <option value="TG">Togo</option>
       <option value="TK">Tokelau</option>
       <option value="TO">Tonga</option>
       <option value="TT">Trinidad and Tobago</option>
       <option value="TN">Tunisia</option>
       <option value="TR">Turkey</option>
       <option value="TM">Turkmenistan</option>
       <option value="TC">Turks and Caicos Islands</option>
       <option value="TV">Tuvalu</option>
       <option value="UG">Uganda</option>
       <option value="UA">Ukraine</option>
       <option value="AE">United Arab Emirates</option>
       <option value="GB">United Kingdom</option>
       <option value="US">United States</option>
       <option value="UM">United States Minor Outlying Islands</option>
       <option value="UY">Uruguay</option>
       <option value="UZ">Uzbekistan</option>
       <option value="VU">Vanuatu</option>
       <option value="VE">Venezuela, Bolivarian Republic of</option>
       <option value="VN">Viet Nam</option>
       <option value="VG">Virgin Islands, British</option>
       <option value="VI">Virgin Islands, U.S.</option>
       <option value="WF">Wallis and Futuna</option>
       <option value="EH">Western Sahara</option>
       <option value="YE">Yemen</option>
       <option value="ZM">Zambia</option>
       <option value="ZW">Zimbabwe</option>
       </select>
     </div>
    </div>
    
    <div class="form-group"
     ng-class="{ 'has-error': form['channel'].$dirty && form['channel'].$invalid }">
     <label for="channel" class="col-sm-3 control-label">Channel</label>
     <div class="col-sm-8">
      <select ng-model="radio.channel" class="form-control"
       name="channel" id="channel" ng-required="true">
       <option value="0">Auto</option>
       <option value="1">1</option>
       <option value="2">2</option>
       <option value="3">3</option>
       <option value="4">4</option>
       <option value="5">5</option>
       <option value="6">6</option>
       <option value="7">7</option>
       <option value="8">8</option>
       <option value="9">9</option>
       <option value="10">10</option>
       <option value="11">11</option>
       <option value="12">12</option>
       <option value="13">13</option>
       </select>
     </div>
    </div>
    
    <div class="form-group"
     ng-class="{ 'has-error': form['protocol'].$dirty && form['protocol'].$invalid }">
     <label for="protocol" class="col-sm-3 control-label">Protocol</label>
     <div class="col-sm-8">
      <select ng-model="radio.protocol" class="form-control"
       name="protocol" id="protocol" ng-required="true">
       <option value="11a">802.11a</option>
       <option value="11an">802.11a/n (HT20)</option>
       <option value="11b">802.11b</option>
       <option value="11g">802.11g</option>
       <option value="11gn">802.11g/n (HT20)</option>
      </select>
     </div>
    </div>
    
    <div class="form-group"
     ng-class="{ 'has-error': form['power'].$dirty && form['power'].$invalid }">
     <label for="power" class="col-sm-3 control-label">Power</label>
     <div class="col-sm-8">
      <select ng-model="radio.power" class="form-control"
       name="power" id="power" ng-required="true">
       <option value="7">Low</option>
       <option value="12">Medium</option>
       <option value="18">High</option>
       </select>
     </div>
    </div>
    
   </div>   
  </div>

 </div>
 
 <div class="clearfix"></div>
 <div class="form-group" style="margin: 1.8%;">
  <div ng-show="error" class="alert alert-danger text-center">{{error}}</div>
  <div ng-show="warning" class="alert alert-warning text-center">{{warning}}</div>
  <div ng-show="message" class="alert alert-success text-center">{{message}}</div>
</div>

 <div class="form-actions text-center">
  <button type="submit" ng-disabled="form.$invalid || dataLoading"
   class="btn btn-lg btn-primary" tabindex="2" style="width: 140px;">
   <img ng-if="dataLoading"
    src="/img/loader.gif" />
   Apply
  </button>
  </div>
</form>
