<div class="page-header">
  <h1>Intrusion Detection System</h1>
</div>

<div class="col-sm-8 col-sm-offset-2">
 <form name="form" id="form" role="form" class="form-horizontal"
  ng-submit="save()">
 
  <div class="form-group" style="margin-top: 40px; margin-bottom: 40px;"
   ng-class="{ 'has-error': form['app_name'].$dirty && form['app_name'].$invalid }">
   <label for="app_name" class="col-sm-3 control-label">Site Name</label>
   <div class="col-sm-8">
    <input ng-model="app.name" type="text" ng-maxlength="128"
     class="form-control" name="app_name" id="app_name"
     ng-required="true">
   </div>
  </div>
 
  <h3>Reporting</h3>
  <hr />
 
   <div class="form-group"
   ng-class="{ 'has-error': form['report_interval'].$dirty && form['report_interval'].$invalid }">
   <label for="report_interval" class="col-sm-3 control-label">Temperature Send Interval</label>
   <div class="col-sm-4">
   <div class="input-group">
      <input ng-model="app.report_interval" type="number" ng-min="0" ng-max="300"
       class="form-control" name="report_interval" id="report_interval"
       ng-required="true" aria-describedby="report_interval_addon">
      <span class="input-group-addon" id="report_interval_addon">Minutes</span>
     </div>
   </div>
   </div>
  <div class="form-group"
   ng-class="{ 'has-error': form['app_server1'].$dirty && form['app_server1'].$invalid }">
   <label for="app_server1" class="col-sm-3 control-label">IDS
    Server 1</label>
   <div class="col-sm-8">
    <input ng-model="app.server1" type="text" ng-maxlength="128"
     class="form-control" name="app_server1" id="app_server1"
     placeholder="IPv4/IPv6 Address" ng-required="true">
   </div>
  </div>
  <div class="form-group" style="margin-bottom: 40px;"
   ng-class="{ 'has-error': form['app_server2'].$dirty && form['app_server2'].$invalid }">
   <label for="app_server2" class="col-sm-3 control-label">IDS
    Server 2</label>
   <div class="col-sm-8">
    <input ng-model="app.server2" type="text" ng-maxlength="128"
     class="form-control" name="app_server2" id="app_server2"
     placeholder="IPv4/IPv6 Address" ng-required="true">
   </div>
  </div> 
 
  <h3>Logs</h3>
  <hr />
 
  <div class="form-group"
   ng-class="{ 'has-error': form['app_syslog'].$dirty && form['app_syslog'].$invalid }">
   <label for="app_syslog" class="col-sm-3 control-label">Syslog
    Server</label>
   <div class="col-sm-8">
    <input ng-model="app.syslog" type="text" ng-maxlength="128"
     class="form-control" name="app_syslog" id="app_syslog"
     placeholder="IPv4/IPv6 Address" ng-required="true">
   </div>
  </div>
 
  <div class="form-group">
   <div ng-show="error" class="alert alert-danger text-center" style="margin-left: 20%;">{{error}}</div>
   <div ng-show="warning" class="alert alert-warning text-center" style="margin-left: 20%;">{{warning}}</div>
   <div ng-show="message" class="alert alert-success text-center" style="margin-left: 20%;">{{message}}</div>
  </div>
 
  <div class="form-actions text-center" style="margin-left: 20%;">
   <button type="submit" ng-disabled="form.$invalid || dataLoading"
    class="btn btn-lg btn-primary" tabindex="2" style="width: 140px;">
    <img ng-if="dataLoading"
     src="/img/loader.gif" />
    Apply
   </button>
  </div>
 
 </form>
</div>
