<div class="page-header">
  <h1>Network</h1>
</div>

<div class="col-sm-8 col-sm-offset-2">
 <form name="form" id="form" role="form" class="form-horizontal"
  ng-submit="save()">
 
  <div class="form-group" style="margin-top: 40px;"
   ng-class="{ 'has-error': form['ipaddr'].$dirty && form['ipaddr'].$invalid }">
   <label for="ipaddr" class="col-sm-3 control-label">IPv4 Address</label>
   <div class="col-sm-8">
    <input ng-model="lan.ipaddr" type="text"
     class="form-control" name="ipaddr" id="ipaddr"
     ng-required="true" ipv4>
   </div>
  </div>
  <div class="form-group"
   ng-class="{ 'has-error': form['netmask'].$dirty && form['netmask'].$invalid }">
   <label for="netmask" class="col-sm-3 control-label">IPv4 Netmask</label>
   <div class="col-sm-8">
    <input ng-model="lan.netmask" type="text"
     class="form-control" name="netmask" id="netmask"
     ng-required="true" ipv4>
   </div>
  </div>
  <div class="form-group"
   ng-class="{ 'has-error': form['gateway'].$dirty && form['gateway'].$invalid }">
   <label for="gateway" class="col-sm-3 control-label">IPv4 Gateway</label>
   <div class="col-sm-8">
    <input ng-model="lan.gateway" type="text"
     class="form-control" name="gateway" id="gateway"
     ng-required="true" ipv4>
   </div>
  </div>
   
   <div style="margin-top: 15px; margin-bottom: 15px;">&nbsp;</div>
   
   <div ng-repeat="dns in lan.dns track by $index">
     <div class="form-group"
          ng-class="{ 'has-error': form['dns'+$index].$dirty && form['dns'+$index].$invalid }">
       <label for="dns{{::$index}}" class="col-sm-3 control-label">IPv4 DNS {{::$index + 1}}</label>
       <div class="col-sm-8">
         <input ng-model="lan.dns[$index]" type="text"
                class="form-control" name="dns{{::$index}}" id="dns{{::$index}}"
                ipv4>
       </div>
     </div>
   </div>
 
 <div style="margin-top: 15px; margin-bottom: 15px;">&nbsp;</div>
 
  <div class="form-group"
   ng-class="{ 'has-error': (form['ip6addr'].$dirty && form['ip6addr'].$invalid) || (form['ip6mask'].$dirty && form['ip6mask'].$invalid) }">
   <label for="ip6addr" class="col-sm-3 control-label">IPv6 Address</label>
   <div class="col-sm-6">
    <input ng-model="lan.ip6addr" type="text"
     class="form-control" name="ip6addr" id="ip6addr" ipv6>
   </div>
   <div class="col-sm-2">
    <input ng-model="lan.ip6mask" type="number" min="0" max="128"
     class="form-control" name="ip6addr" id="ip6addr">
   </div>
   <div style="position: relative; display: inline; left: -16.8%; top: 5px;">/</div>
  </div>
  <div class="form-group"
   ng-class="{ 'has-error': form['ip6gw'].$dirty && form['ip6gw'].$invalid }">
   <label for="ip6gw" class="col-sm-3 control-label">IPv6 Gateway</label>
   <div class="col-sm-8">
    <input ng-model="lan.ip6gw" type="text"
     class="form-control" name="ip6gw" id="ip6gw" ipv6>
   </div>
  </div>
 
  <div class="form-group">
   <div ng-show="error" class="alert alert-danger text-center" style="margin-left: 20%;">{{error}}</div>
   <div ng-show="warning" class="alert alert-warning text-center" style="margin-left: 20%;">{{warning}}</div>
   <div ng-show="message" class="alert alert-success text-center" style="margin-left: 20%;">{{message}}</div>
  </div>
 
  <div class="form-actions text-center" style="margin-left: 20%; margin-top: 30px;">
   <button type="submit" ng-disabled="form.$invalid || dataLoading"
    class="btn btn-lg btn-primary" tabindex="2" style="width: 140px;">
    <img ng-if="dataLoading"
     src="/img/loader.gif" />
    Apply
   </button>
  </div>
 
 </form>
</div>
