<div class="page-header">
 <h1 class="pull-left">Serial Port Server</h1>
 <div class="pull-right">
  <div class="switch"
   style="bottom: 15px; position: relative; top: 25px;"
   title="Turns WiFi OFF/ON">
   <input id="toggle-ktcpd" class="cmn-toggle cmn-toggle-round-flat"
    type="checkbox" ng-model="ktcpd.enabled" ng-disabled="dataLoading">
    <label for="toggle-ktcpd"></label>
    <span>OFF / ON</span>
  </div>
 </div>
 <div class="clearfix"></div>
</div>

<form name="form" id="form" role="form" class="form-horizontal"
 ng-submit="save()">

 <div class="col-sm-7" style="margin-top: 30px;">

   <div class="form-group"
        ng-class="{ 'has-error': form['timeout'].$dirty && form['timeout'].$invalid }">
     <label for="reboot_interval" class="col-sm-3 control-label">
       Timeout
     </label>
     <div class="col-sm-4">
       <div class="input-group">
         <input ng-model="ktcpd.timeout" type="number" ng-min="0" ng-max="365"
                class="form-control" name="timeout" id="timeout"
                ng-required="true" aria-describedby="timeout_addon">
         <span class="input-group-addon" id="timeout_addon">Sec</span>
       </div>
     </div>
   </div>

   <div style="margin-top: 15px; margin-bottom: 15px;">&nbsp;</div>

   <div class="form-group"
        ng-class="{ 'has-error': form['tcp_port'].$invalid }">
     <label for="tcp_port" class="col-sm-3 control-label">TCP Port</label>
     <div class="col-sm-4">
       <input ng-model="tcp.port" type="number" class="form-control" ng-min="1"
              name="tcp_port" id="tcp_port" ng-required>
     </div>
   </div>
   <div class="form-group"
        ng-class="{ 'has-error': form['tcp_addr'].$invalid }">
     <label for="tcp_addr" class="col-sm-3 control-label">TCP Address</label>
     <div class="col-sm-8">
       <input ng-model="tcp.addr" type="text"
              class="form-control" name="tcp_addr" id="tcp_addr"
              placeholder="0:0:0:0" ipv4>
     </div>
   </div>

   <div style="margin-top: 15px; margin-bottom: 15px;">&nbsp;</div>
   
   <div class="form-group" ng-cloak>
     <label for="toggle_encryption" class="col-sm-3 control-label">Encryption</label>
    <div class="col-sm-8" style="padding-top: 6px;">
      <div class="col-cm-2 pull-left">
       <div class="switch" title="OFF/ON">
        <input id="toggle_encryption"
         class="cmn-toggle cmn-toggle-round-flat"
         type="checkbox" ng-model="encryption.enabled"> <label for="toggle_encryption"></label>
       </div>
     </div>
      <div class="col-sm-offset-2" style="{{ encryption.enabled ? 'color: #729fcf; font-weight: bold;' : 'color: #CCC;' }}" >Enable</div>
    </div>
   </div>
   <div class="form-group" ng-show="encryption.enabled" ng-cloak
        ng-class="{ 'has-error': form['encryption_cert'].$invalid }">
     <label for="encryption_cert" class="col-sm-3 control-label">Certificate File</label>
     <div class="col-sm-8">
         <input ng-model="encryption.cert" type="text" class="form-control"
                name="encryption_cert" id="encryption_cert"
                maxlength="64" ng-required="encryption.enabled">
     </div>
   </div>
   <div class="form-group" ng-show="encryption.enabled" ng-cloak
        ng-class="{ 'has-error': form['encryption_key'].$invalid }">
     <label for="encryption_key" class="col-sm-3 control-label">Key File</label>
     <div class="col-sm-8">
         <input ng-model="encryption.key" type="text" class="form-control"
                name="encryption_key" id="encryption_key"
                maxlength="64" ng-required="encryption.enabled">
     </div>
   </div>
   <div class="form-group" ng-show="encryption.enabled" ng-cloak
        ng-class="{ 'has-error': form['encryption_pass'].$invalid }">
     <label for="encryption_pass" class="col-sm-3 control-label">Key Password</label>
     <div class="col-sm-8">
         <input ng-model="encryption.pass" type="text" class="form-control"
                name="encryption_pass" id="encryption_pass"
                maxlength="64" ng-required="encryption.enabled">
     </div>
   </div>
   <div style="margin-top: 15px; margin-bottom: 15px;" ng-show="encryption.enabled" ng-cloak>&nbsp;</div>  
   

   <div class="form-group" ng-cloak>
     <label for="toggle_udp" class="col-sm-3 control-label">UDP Discovery</label>
     <div class="col-sm-8" style="padding-top: 6px;">
       <div class="col-cm-2 pull-left">
         <div class="switch" title="OFF/ON">
           <input id="toggle_udp"
                  class="cmn-toggle cmn-toggle-round-flat"
                  type="checkbox" ng-model="udp.enabled"> <label for="toggle_udp"></label>
         </div>
       </div>
       <div class="col-sm-offset-2" style="{{ udp.enabled ? 'color: #729fcf; font-weight: bold;' : 'color: #CCC;' }}">Enable</div>
     </div>
   </div>
   <div class="form-group" ng-show="udp.enabled" ng-cloak
        ng-class="{ 'has-error': form['udp_port'].$invalid }">
     <label for="udp_port" class="col-sm-3 control-label">UDP Port</label>
     <div class="col-sm-4">
       <input ng-model="udp.port" type="number" class="form-control" ng-min="1"
              name="udp_port" id="udp_port" ng-required="udp.enabled">
     </div>
   </div>
   <div class="form-group" ng-show="udp.enabled" ng-cloak
        ng-class="{ 'has-error': form['udp_addr'].$invalid }">
     <label for="udp_addr" class="col-sm-3 control-label">UDP Address</label>
     <div class="col-sm-8">
       <input ng-model="udp.addr" type="text"
              class="form-control" name="udp_addr" id="udp_addr"
              placeholder="0:0:0:0" ipv4>
     </div>
   </div>
     
 </div>

 <div class="col-sm-5" style="margin-top: 30px;">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a name="rs232">Serial Port </a>
        <div class="pull-right" title="{{ rs232.device }}">RS232</div>
    </h3>
   </div>
   <div class="panel-body" style="padding: 22px;">

     <div class="form-group"
          ng-class="{ 'has-error': form['rs232_baud'].$dirty && form['rs232_baud'].$invalid }">
       <label for="channel" class="col-sm-3 control-label">Speed</label>
       <div class="col-sm-8">
         <select ng-model="rs232.baud" class="form-control"
                 name="rs232_baud" id="rs232_baud" ng-required="true">
           <option>300</option>
           <option>600</option>
           <option>1200</option>
           <option>1800</option>
           <option>2400</option>
           <option>4800</option>
           <option>9600</option>
           <option>19200</option>
           <option>38400</option>
           <option>57600</option>
           <option>115200</option>
         </select>
       </div>
     </div>

     <div class="form-group"
          ng-class="{ 'has-error': form['rs232_bits'].$dirty && form['rs232_bits'].$invalid }">
       <label for="channel" class="col-sm-3 control-label">Bits</label>
       <div class="col-sm-8">
         <select ng-model="rs232.bits" class="form-control"
                 name="rs232_bits" id="rs232_bits" ng-required="true">
           <option>7</option>
           <option>8</option>
         </select>
       </div>
     </div>

     <div class="form-group"
          ng-class="{ 'has-error': form['rs232_parity'].$dirty && form['rs232_parity'].$invalid }">
       <label for="channel" class="col-sm-3 control-label">Parity</label>
       <div class="col-sm-8">
         <select ng-model="rs232.parity" class="form-control"
                 name="rs232_parity" id="rs232_parity" ng-required="true">
           <option value="none">None</option>
           <option value="odd">Odd</option>
           <option value="even">Even</option>
         </select>
       </div>
     </div>

     <div class="form-group"
          ng-class="{ 'has-error': form['rs232_stop'].$dirty && form['rs232_stop'].$invalid }">
       <label for="channel" class="col-sm-3 control-label">Stop</label>
       <div class="col-sm-8">
         <select ng-model="rs232.stop" class="form-control"
                 name="rs232_stop" id="rs232_stop" ng-required="true">
           <option>1</option>
           <option>2</option>
         </select>
       </div>
     </div>
     
     <div class="form-group"
          ng-class="{ 'has-error': form['rs232_flow'].$dirty && form['rs232_flow'].$invalid }">
       <label for="channel" class="col-sm-3 control-label">Flow</label>
       <div class="col-sm-8">
         <select ng-model="rs232.flow" class="form-control"
                 name="rs232_flow" id="rs232_flow" ng-required="true">
           <option value="none">None</option>
           <option value="hard">Hardware</option>
           <option value="xon">XON / XOFF</option>
         </select>
       </div>
     </div>
    
     <div class="form-group" ng-cloak>
       <label for="rs232_toggle_modem" class="col-sm-3 control-label">Modem</label>
       <div class="col-sm-8" style="padding-top: 6px;">
         <div class="col-cm-2 pull-left">
           <div class="switch" title="OFF/ON">
             <input id="rs232_toggle_modem"
                    class="cmn-toggle cmn-toggle-round-flat"
                    type="checkbox" ng-model="rs232.modem"> <label for="rs232_toggle_modem"></label>
           </div>
         </div>
         <div class="col-sm-offset-3" style="{{ rs232.modem ? 'color: #729fcf; font-weight: bold;' : 'color: #CCC;' }}">Enable</div>
       </div>
     </div>

     <div class="form-group" ng-cloak>
       <label for="rs232_toggle_buffer" class="col-sm-3 control-label">Buffer</label>
       <div class="col-sm-8" style="padding-top: 6px;">
         <div class="col-cm-2 pull-left">
           <div class="switch" title="OFF/ON">
             <input id="rs232_toggle_buffer"
                    class="cmn-toggle cmn-toggle-round-flat"
                    type="checkbox" ng-model="rs232.buffer"> <label for="rs232_toggle_buffer"></label>
           </div>
         </div>
         <div class="col-sm-offset-3" style="{{ rs232.buffer ? 'color: #729fcf; font-weight: bold;' : 'color: #CCC;' }}">Enable</div>
       </div>
     </div>
    
   </div>   
  </div>

 </div>
 
 <div class="clearfix"></div>
 <div class="form-group" style="margin: 1.8%;">
  <div ng-show="error" class="alert alert-danger text-center">{{error}}</div>
  <div ng-show="warning" class="alert alert-warning text-center">{{warning}}</div>
  <div ng-show="message" class="alert alert-success text-center">{{message}}</div>
</div>

 <div class="form-actions text-center">
  <button type="submit" ng-disabled="form.$invalid || dataLoading"
   class="btn btn-lg btn-primary" tabindex="2" style="width: 140px;">
   <img ng-if="dataLoading"
    src="/img/loader.gif" />
   Apply
  </button>
  </div>
</form>